opentelemetry-collector:
  mode: daemonset

  fullnameOverride: otel-coralogix

  extraEnvs:
  - name: CORALOGIX_PRIVATE_KEY
    valueFrom:
      secretKeyRef:
        name: integrations-privatekey
        key: PRIVATE_KEY
  - name: APP_NAME
    value: production # Can be any static value
  - name: KUBE_NODE_NAME
    valueFrom:
      fieldRef:
        apiVersion: v1
        fieldPath: spec.nodeName
  #- name: CORALOGIX_TRACES_ENDPOINT
  #  value: <The Coralogix traces ingress endpoint, must be configured to send traces to Coralogix>
  #- name: CORALOGIX_METRICS_ENDPOINT
  #  value: <The Coralogix metrics ingress endpoint, must be configured must be configured to send metrcs to Coralogix>
    
  config:
    exporters:
      coralogix:
        endpoint: "${CORALOGIX_TRACES_ENDPOINT}"
        private_key: "${CORALOGIX_PRIVATE_KEY}"
        application_name: "${APP_NAME}"
        metrics:
          endpoint: "${CORALOGIX_METRICS_ENDPOINT}"
    processors:
      memory_limiter: null # Will get the k8s resource limits
      k8sattributes:
        passthrough: false
        filter:
          node_from_env_var: KUBE_NODE_NAME # The agent only discovers pods from the same host that it is running on
        extract:
          labels:
          - key_regex: '(.*)'
    receivers:
      jaeger:
        protocols:
          grpc:
          thrift_http:
          thrift_compact:
          thrift_binary:
            endpoint: 0.0.0.0:6832
    service:
      pipelines:
        traces:
          exporters:
            - coralogix
          processors:
            - k8sattributes
            - memory_limiter
            - batch
          receivers:
            - otlp
            - zipkin
            - jaeger
        metrics:
          exporters:
            - coralogix
          processors:
            - memory_limiter
            - batch
          receivers:
            - prometheus # The receiver configuration is coming from the open-telemetry dependency chart
            - otlp
        logs: null

  image: 
    tag: 0.59.0

  tolerations: 
    - operator: Exists

  resources:
    limits:
      cpu: 1
      memory: 2G

  # Creating a clusterrole for the k8sattributes filter 
  clusterRole:
    create: true
    rules: 
    - apiGroups: [""]
      resources: ["pods", "namespaces"]
      verbs: ["get", "watch", "list"]

  hostNetwork: true

  # In order to enable podMonitor, following part must be enabled in order to expose the required port:
  # ports:
  #   metrics:
  #     enabled: true

  # podMonitor:
  #   enabled: true

  # prometheusRule:
  #   enabled: true
  #   defaultRules:
  #     enabled: true
