global:
  domain: "eu2.coralogix.com"
  defaultApplicationName: "otel"
  defaultSubsystemName: "linux"
  logLevel: "info"
  collectionInterval: "30s"
  version: "0.0.2"
  # deploymentEnvironmentName: "development"

opentelemetry-agent:
  enabled: true
  distribution: "standalone"
  presets:
    metadata:
      enabled: true
      integrationName: "coralogix-macos-standalone"
    hostEntityEvents:
      enabled: true
    fleetManagement:
      enabled: true
      # customAttributes: {}
      agentType: "agent"
    hostMetrics:
      enabled: true
      process:
        enabled: true
    batch:
      enabled: true
    resourceDetection:
      enabled: true
      # detectors:
      #   cloud:
      #     - ec2
    journaldReceiver:
      enabled: true
    otlpReceiver:
      enabled: true
    coralogixExporter:
      enabled: true
      privateKey: ${env:CORALOGIX_PRIVATE_KEY}

  config:
    extensions:
      health_check:
        endpoint: 0.0.0.0:13133
    # exporters:
      #debug:
      # verbosity: detailed
    service:
      telemetry:
        resource:
          service.name: "opentelemetry-collector"
        logs:
          level: "info"
