receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  logging:
  coralogix:
    endpoint: "${ENDPOINT}:9443"
    private_key: "${PRIVATE-KEY}"
    application_name: "otel-demo"


processors:
  batch:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [coralogix]
