# Local Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Fallback state data
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json
!terraform.tfvars.example

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
terraform.tfplan
*.tfplan

# CLI configuration
.terraformrc
terraform.rc
