
name: Fluentd-HTTP-Chart

on:
  push:
    branches: master
    paths:
    - 'logs/fluentd/http/Chart.yaml'
    - 'logs/fluentd/http/values.yaml'

env:
  CHART_VERSION: $(yq eval '.version' logs/fluentd/http/Chart.yaml)
  CHART_NAME: fluentd-http
  ARTIFACTORY_URL: https://cgx.jfrog.io/artifactory/
  ARTIFACTORY_USERNAME: integrations-actions


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.4.0
      -
        name: Setup Helm Repo
        run: |
          helm repo add coralogix-charts-virtual ${{ env.ARTIFACTORY_URL }}coralogix-charts-virtual --username ${{ env.ARTIFACTORY_USERNAME }} --password ${{ secrets.ARTIFACTORY_NONUSER_ACCESS_TOKEN }}
          helm repo update
          helm dependency build ./logs/fluentd/http/
          cd logs/fluentd/http
          helm package .
      -
        name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v2.1.0
        with:
          version: 2.12.1
      -
        name: use-jfrog-cli
        run: |
          cd logs/fluentd/http
          jfrog rt upload --access-token ${{ secrets.ARTIFACTORY_NONUSER_ACCESS_TOKEN }} "${{ env.CHART_NAME }}-*.tgz" coralogix-charts --url ${{ env.ARTIFACTORY_URL }}
          
