name: OpenTelemetry-Supervised-Collector

on:
  push:
    branches:
      - master
    paths:
    - 'otel-supervised-collector/CURRENT_VERSION'

jobs:
  trigger-release:
    permissions:
      actions: write
      contents: read
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Trigger Release workflow (CGX JFrog)
        run: |
          gh workflow run otel-supervised-collector-release.yml \
           --ref master \
           -f push_image=true \
           -f registry_org=cgx.jfrog.io/coralogix-docker-images
      - name: Trigger Release workflow (Docker Hub)
        run: |
          gh workflow run otel-supervised-collector-release.yml \
           --ref master \
           -f push_image=true \
           -f registry_org=docker.io/coralogixrepo
